{% extends 'layouts/base_train.html' %}


{% block head %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/image-gallery.css') }}">
{% endblock %}


{% block content %}
<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <br>
    <a id="go-next-btn" class="btn btn-block btn-success" href="{{ url_for('views_blueprint.train_project_view') }}">Go to next step</a>
    <hr>
    <a id="take-more-photos-btn" class="btn btn-block btn-primary" href="{{ url_for('views_blueprint.take_photo_view') }}">Take more photos</a>
  </div>
</div>

<!-- Empty space-->
<div class="gap-5"></div>

<!-- Topic -->  
<div class="row content">
  <div class="col-sm-12 text-left">
    <h4 style="display: inline;">Total images: </h4>
    <h4 style="display: inline;" id="total-images-count">{{ total_images }}</h4>
  </div>
</div>

<!-- Project images gallery -->  
<div class="row content">
  <div class="col-sm-12 text-left">

    <div class="imgGallery" id="imgGallery">
      {% for image in images.images %}
        <div class="thumbnail" style="width: 150px;" id="thumbnail-id-{{ loop.index }}" style="display: block;">
          <div class="item">
            <img href="#" src="{{ image.image_b64 }}" alt="{{ image.name }}" id="img-{{ loop.index }}">
            <div class="caption">
              <span class="right"><a href="#" id="delete-{{ loop.index }}">Delete</a></span>
              <span class="left"><a href="#" id="view-{{ loop.index }}">View</a></span>​
            </div>
          </div>
        </div>
        <script>
          // View modal on image click
          $("#img-{{ loop.index }}").click(function(){
            $("#image-modal-content").attr("src", $(this).attr('src'));
            $("#image-modal").css("display", "block");
          });
          // View modal on view text
          $("#view-{{ loop.index }}").click(function(){
            $("#image-modal-content").attr("src", $("#img-{{ loop.index }}").attr('src'));
            $("#image-modal").css("display", "block");
          });
          // Delete modal on view text
          $("#delete-{{ loop.index }}").click(function(){
            var image_name = $("#img-{{ loop.index }}").attr('alt');
		  var ip = ipAdress.concat("delete_image?image_name=" + image_name + "&project_name=" + "{{ project_name }}");
            var xhttp = sendHttpRequest(ip);
            // Hide image
            $("#thumbnail-id-{{ loop.index }}").css("display", "none");
            // Update image counter
            var totalImagesCount = $("#total-images-count").text();
            var totalImagesCount = parseInt(totalImagesCount) - 1;
            $("#total-images-count").html(totalImagesCount);
          });
        </script>
      {% endfor %}
    </div>

  </div>
</div>

<!-- The Modal -->
<div id="image-modal" class="modal">
  <!-- The Close Button -->
  <span class="close">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="image-modal-content">
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
  // Hide modal when click on image
  $("#image-modal").click(function(){
      $("#image-modal").css("display", "none");
  });
  // Hide modal on X button
  $(".close:eq(0)").click(function(){
      $("#image-modal").css("display", "none");
  });
</script>
{% endblock %}
