{% extends 'layouts/base_train.html' %}


{% block guide %}
<p>
The model needs images to be trained on. This is done with the "Save to model"- button.
</p>
<p>
Save images of the products that you want to be able to make a prediction on. The model will probably overfit if you use images of less than 150 products.
</p>
<p>
The model is very sensitive to lighting conditions and movement of the camera. This should be considered when collecting the data.
</p>
<p>
When you have collected the images, press the "Go to next step" - button.
</p>

{% endblock %}

{% block content %}
<!-- Live feed -->
<div class="row content">
  <div class="col-sm-4 col-sm-offset-4 live-stream"> 
    <h5>Live feed</h5>
      <img id="video_feed" style="width:300px; height:300px;" src="{{ url_for('project_routes_api_blueprint.video_feed') }}">
  </div>
  <div class="col-sm-4 text-left"></div>
</div>

<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <br>
    <button type="button" id="take-photo-btn" class="btn btn-primary btn-block">Save to model</button>
  </div>
</div>
<div class="row content text-center">
  <div class="col-sm-12">
    <div>
      <span id="save-info-txt">	&nbsp;</span>
    </div>
    <hr>
    <a id="go-next-btn" class="btn btn-block btn-success" href="{{ url_for('views_blueprint.preview_images_view') }}">Go to next step</a>
  </div>
</div>

<script>
  $("#take-photo-btn").click(function(){
    var ip = ipAdress.concat("save_photo?project_name=" + "{{ project_name }}")
    var xhttp = sendHttpRequest(ip)
    
    if (xhttp.status === 200) {
        // Flash-fade effect on image
        $('#video_feed').fadeTo(50, 0.5, function() { $(this).fadeTo(300, 1.0); });
        // Display image name
        var saveInfoTxt = document.getElementById("save-info-txt");
        saveInfoTxt.textContent = "Image saved as " + xhttp.responseText;
    }
  });
</script>
{% endblock %}
