.line-fat {
  width: 12.5%;
  height: 12px;
  border-bottom: 3px solid black;
  margin-top: 1px;
  position: absolute;
  left: 0px; 
  right: 0px;
}

.line-thin {
  margin-left: 12.5%;
  width: 87.5%;
  height: 12px;
  border-bottom: 1px solid black;
  position: absolute;
  margin-bottom: 0px;
  left: 0px; 
  right: 0px;
}
  
#circle {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  margin-top: 5x;
  background: black;
}

.train-bar {
  margin-right: 0px; 
  padding-right: 0px; 
  border-right: 0px;

  margin-left: 0px; 
  padding-left: 0px; 
  border-left: 0px;
}

.train-bar-text {
  padding-bottom: 0px; 
  margin-bottom: 0px;
}

.train-bar-line {
  padding-top: 0px; 
  margin-top: 0px; 
}

.train-bar.col-sm-3 {
  padding-left: 0px; 
  padding-right: 0px;
  
}