{% extends 'layouts/base.html' %}


{% block guide %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id dignissim mauris, vel dictum purus. Vivamus a nulla quam. Cras semper eros et velit vehicula, vel ullamcorper leo sollicitudin. Sed in cursus metus, elementum pulvinar risus.</p>
<p>
Ut varius ex quis mauris consequat, vitae tristique ipsum egestas. Quisque vulputate odio felis, dignissim vulputate sapien dignissim ac.
</p>
{% endblock %}


{% block content %}
<!-- Camera field -->
<div class="row content">
  <div class="col-sm-6"> 
    <h5>Live feed</h5>
    <div style="height: 400px; max-height: 400px;">
      <img id="video_feed" style="max-height: 100%; max-width: 100%; min-height: 400px;" src="{{ url_for('project_routes_api_blueprint.video_feed') }}"></img>
    </div>
  </div>
  
  <div class="col-sm-6">
    <h5>Prediction</h5>
    <div style="height: 400px; max-height: 400px;">
      <img id="canvas" class="img-responsive" style="max-height: 100%; max-width: 100%; min-height: 400px;">
    </div>
  </div>

<!-- Score info -->
<div class="row content">
  <div class="col-sm-12">
    <h4>Score: <span id="score-data"></span> &nbsp; &nbsp; Thresh: <span id="thresh-data"></span></h4>
  </div>
</div>

<!-- Camera buttons -->
<div class="row content">
  <button type="button" id="evaluate-btn" class="btn btn-primary btn-block">Evaluate</button>
</div>

<script>
  // Evaluate btn
  $("#evaluate-btn").click(function(){
    var ip = ipAdress.concat("take_photo_and_predict" + window.location.search)
    var xhttp = sendHttpRequest(ip)
  
    var json_response = JSON.parse(xhttp.responseText);
    photo = json_response.image_pred_b64;
    score = json_response.score;
    thresh = json_response.thresh;
  
    document.getElementById('canvas').src = photo;
    document.getElementById('score-data').innerHTML = score;
    document.getElementById('thresh-data').innerHTML = thresh;

  })
/*var empty = ""
var project = window.location.search.split("=")[1];
var source = empty.concat("{", "{", " url_for('api_blueprint.video_feed(",project,")') ", "}", "}");
document.getElementById('video_feed').src = source;*/
</script>
{% endblock %}
