{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" type=text/css href="../../static/css/train-menu.css">
<script type="text/javascript" src="../../static/js/train-menu.js"></script>
<script type="text/javascript" src="../../static/js/train-functions.js"></script>
{% block head2 %}
{% endblock %}

{% endblock %}

{% block train_menu %}
<!-- Train menu -->
<div class="container-fluid text-center">
  <div class="row content train-bar train-bar-text">
    <div class="col-sm-3">
      <h4 id="camera-crop-text" style="opacity: 0.6; font-size: 13px; font-weight: normal;">Cam preferences</h4>
    </div>
    <div class="col-sm-3">
      <h4 id="take-photo-text" style="opacity: 0.6; font-size: 13px; font-weight: normal;">Collect data</h4>
    </div>
    <div class="col-sm-3">
      <h4 id="view-images-text" style="opacity: 0.6; font-size: 13px;" font-weight: normal;>Preview images</h4>
    </div>
    <div class="col-sm-3">
      <h4 id="train-project-text" style="opacity: 0.6; font-size: 13px;" font-weight: normal;>Train model</h4>
    </div>
  </div>

  <div class="row content train-bar train-bar-line" style="display: none;">
    <div class="hidden-xs col-sm-12">
      <!-- Fat line -->
      <div class="line-fat"></div>
      <!-- Thin line -->
      <div class="line-thin">
        <!-- Circle -->
        <div id="circle" style="margin-top: 5px;"></div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}
