{% extends 'edit/base_edit.html' %}

{% block head2 %}
<script type="text/javascript" src="../../static/js/cropper.js"></script>
<link rel="stylesheet" type=text/css href="../../static/css/cropper.css">

<script type="text/javascript" src="../../static/js/update-sliders.js"></script>
{% endblock %}


{% block content %}
<!-- Cropper -->
<div class="container-fluid text-center">    
  <div class="row content">
    <!-- Image cropper -->
    <div class="col-sm-6 text-left">
      <h5>Image cropper</h5>
      <div style="overflow: hidden;">
        <img id="image-crop" src="" alt="Picture" style="display: block; max-width: 100%;">
      </div>
    </div>
    <!-- Crop preview -->
    <div class="col-sm-6 text-left">
      <h5>Preview</h5>
      <div id="preview-crop" style="overflow: hidden; width: 100%; height: 300px;">
      </div>
    </div>
  </div>
</div>

<!-- Crop settings -->
<div class="container-fluid text-left">
  <div class="row content">
    <!-- Slider -->
    <div class="col-sm-10">
      <p>Move horizontal</p>
      <input style="width: 100%;" type="range" min="0" max="2000" value="0" id="slider_h">
    </div>
    <!-- Input field -->
    <div class="col-sm-2" style="padding-top: 15px;">
      <div class="input-group">
        <input type="text" class="form-control" id="input_h" value="0" style="width: 65px;">
      </div>
    </div>
  </div>
  <div class="row content">
    <!-- Slider -->
    <div class="col-sm-10">
      <p>Move vertical</p>
      <input style="width: 100%;" type="range" min="0" max="2000" value="0" id="slider_v">
    </div>
    <!-- Input field -->
    <div class="col-sm-2" style="padding-top: 15px;">
      <div class="input-group">
        <input type="text" class="form-control" id="input_v" value="1920">
     </div>
    </div>
  </div>
  <div class="row content">
    <!-- Slider -->
    <div class="col-sm-10">
      <p>Change size</p>
      <input style="width: 100%; height: 30px;" type="range" min="150" max="2000" value="150" id="slider_size">
    </div>
    <!-- Input field -->
    <div class="col-sm-2" style="padding-top: 15px;">
      <div class="input-group">
        <input type="text" class="form-control" id="input_size" value="0">
     </div>
    </div>
  </div>

</div>

<!-- Buttons -->
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-12">
      <!-- <a onclick="" class="btn btn-block btn-primary">Reset Crop</a> <hr> -->
      <hr>
      <a onclick="updateCrop()" class="btn btn-block btn-success">Save Crop</a>
    </div>
  </div>
</div>

<script>
  
  // Take photo and load to crop
  var ip = ipAdress.concat("save_photo")
  var xhttp = sendHttpRequest(ip)


  var ip = ipAdress.concat("return_saved_photo");
  var xhttp = sendHttpRequest(ip);

  photo = xhttp.responseText;

  document.getElementById('image-crop').src = photo;
  
</script>
{% endblock %}