{% extends 'edit/base_edit.html' %}


{% block head2 %}
<script type="text/javascript" src="{{ url_for('static', filename='js/cropper.js') }}"></script>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/cropper.css') }}">
{% endblock %}


{% block content %}
<!-- Cropper -->   
<div class="row content">
  <!-- Image cropper -->
  <div class="col-sm-6 text-left">
    <h5>Image cropper</h5>
    <div style="overflow: hidden;">
	    <img id="image-crop" alt="Picture" style="max-width: 100%;">
    </div>
  </div>
  <!-- Crop preview -->
  <div class="col-sm-6 text-left">
    <h5>Preview</h5>
    <div style="overflow: hidden;">
      <div id="preview-crop" style="overflow: hidden; width: 100%; height: 300px;">
    </div>
    </div>
  </div>
</div>

<!-- Crop settings -->
<div class="row content">
  <!-- Slider -->
  <div class="col-sm-10">
    <p>Move horizontal</p>
    <input style="width: 100%;" type="range" min="0" max="2000" value="0" id="slider_h">
  </div>
  <!-- Input field -->
  <div class="col-sm-2" style="padding-top: 15px;">
    <div class="input-group">
      <input type="text" class="form-control" id="input_h" value="0">
    </div>
  </div>
</div>
<div class="row content">
  <!-- Slider -->
  <div class="col-sm-10">
    <p>Move vertical</p>
    <input style="width: 100%;" type="range" min="0" max="2000" value="0" id="slider_v">
  </div>
  <!-- Input field -->
  <div class="col-sm-2" style="padding-top: 15px;">
    <div class="input-group">
      <input type="text" class="form-control" id="input_v" value="1920">
    </div>
  </div>
</div>
<div class="row content">
  <!-- Slider -->
  <div class="col-sm-10">
    <p>Change size</p>
    <input style="width: 100%; height: 30px;" type="range" min="150" max="2000" value="150" id="slider_size">
  </div>
  <!-- Input field -->
  <div class="col-sm-2" style="padding-top: 15px;">
    <div class="input-group">
      <input type="text" class="form-control" id="input_size" value="0">
    </div>
  </div>
</div>

<div class="gap-5"></div>

<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <a id="refresh-camera-btn" class="btn btn-block btn-primary">Refresh camera</a>
    <hr>
    <a id="save-crop-btn" class="btn btn-block btn-success">Save Crop Parameters</a>
  </div>
</div>

<script>
  // Crop info to be sent to server
  var x1;
  var x2;
  var y1;
  var y2;

  // Sliders + input fields elements
  var slider_h = document.getElementById("slider_h");
  var slider_v = document.getElementById("slider_v");
  var slider_size = document.getElementById("slider_size");
  var input_field_v = document.getElementById("input_v");
  var input_field_h = document.getElementById("input_h");
  var input_field_size = document.getElementById("input_size");
  
  // Image elements for cropper
  const imageCrop = document.getElementById('image-crop');
  const imagePreview = document.getElementById('preview-crop');

  function createCropper() {
    var Cropper = window.Cropper;
    var cropper = new Cropper(imageCrop, {
      autoCrop: false,
      viewMode: 1, // zoom as free
      guides: false,  // hide guid lines
      dragMode: 'none',  // dragging mode of cropper
      movable: false,  // enable image move
      cropBoxMovable: true,  // crop box move disable
      cropBoxResizable: false,  // crop box resize disable
      zoomOnWheel: false,  // scroll zoom
      aspectRatio: 1, // square
      preview: imagePreview,
      ready: function (e) {
          this.cropper.crop();

          // Update global crop data
          var data = cropper.getData();
          x1 = data["x"];
          x2 = data["x"] + data["width"];
          y1 = data["y"];
          y2 = data["y"] + data["height"];
      },
      crop: function (e) {
          var data = e.detail;
          var canvasData = cropper.getCanvasData();

          // Update input fields value
          input_field_h.value = Math.round(data.x);
          input_field_v.value = Math.round(data.y);
          input_field_size.value = Math.round(data.width);

          // Update sliders value
          slider_h.value = Math.round(data.x);
          slider_v.value = Math.round(data.y);
          slider_size.value = Math.round(data.width);

          // Update sliders max value
          slider_h.max = Math.round(canvasData.naturalWidth) - Math.round(data.width);
          slider_v.max = Math.round(canvasData.naturalHeight) - Math.round(data.height);

          // Update global crop data
          x1 = data["x"];
          x2 = data["x"] + data["width"];
          y1 = data["y"];
          y2 = data["y"] + data["height"];
      }
    });

    return cropper;
  };

  function getLatestPhoto() {
    var ip = ipAdress.concat("latest_photo");
    var xhttp = sendHttpRequest(ip);
    return xhttp.responseText;
  }

  function sendCropInfo(){
    var adress = "update_crop" + "?x_1=" + parseInt(x1) + "&x_2=" + parseInt(x2) + "&y_1=" + parseInt(y1) + "&y_2=" + parseInt(y2) + "&project_name=" + "{{ project_name }}";
    var ip = ipAdress.concat(adress);
    var xhttp = sendHttpRequest(ip);
  }


  // Load current picture from camera to image-crop
  imageCrop.src = getLatestPhoto();
  // Init cropper
  var cropper = createCropper();

  $("#save-crop-btn").click(function(){
    sendCropInfo();
    window.location.href = '/edit/take_photo' + window.location.search;
  })

  $("#refresh-camera-btn").click(function(){
    var photo = getLatestPhoto();
    cropper.replace(photo, true);
  })


  // Create link between sliders and input fields

  // Horizontal
  slider_h.oninput = function() {
    input_field_h.value = this.value;
    cropper.setData({"x": parseInt(this.value)});
    console.log(cropper.getData());
  },
    input_field_h.oninput = function() {
    slider_h.value = this.value;
    cropper.setData({"x": parseInt(this.value)});
  }

  // Vertical
  slider_v.oninput = function() {
    input_field_v.value = this.value;
    cropper.setData({"y": parseInt(this.value)});
  },
  input_field_v.oninput = function() {
    slider_v.value = this.value;
    cropper.setData({"y": parseInt(this.value)});
  }

  // Size
  slider_size.oninput = function() {
    input_field_size.value = this.value;
    cropper.setData({"width": parseInt(this.value), "height": parseInt(this.value)});
    
  },
  input_field_size.oninput = function() {
      slider_size.value = this.value;
      cropper.setData({"width": parseInt(this.value), "height": parseInt(this.value)});
  }
</script>
{% endblock %}
