{% extends 'edit/base_edit.html' %}


{% block head2 %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/stream.css') }}">
{% endblock %}


{% block content %}
<!-- Live feed -->
<div class="row content">
  <div class="col-sm-3 text-left"></div>

  <div class="col-sm-6 text-left live-stream"> 
    <h5>Live feed</h5>
      <img id="video_feed" style="width:300px; height:300px;" src="{{ url_for('api_blueprint.video_feed') }}"</img>
  </div>

  <div class="col-sm-3 text-left"></div>
</div>

<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <button type="button" id="take-photo-btn" class="btn btn-primary btn-block">Save to model</button>
    <hr>
    <a id="go-next-btn" class="btn btn-block btn-success">Go to next step</a>
  </div>
</div>

<script>
$("#take-photo-btn").click(function(){
  var ip = ipAdress.concat("save_photo?project_name=" + "{{ project_name }}")
  var xhttp = sendHttpRequest(ip)

  // Display response alert
  if (xhttp.status === 200) {
      var alert = document.getElementById("saved_image_success_alert");
      // Add filename to alert
      var txt = document.getElementById("saved_image_success_alert_text");
      txt.textContent = xhttp.responseText;
      
      alert.style.display = "block";
      setTimeout(function() {
          alert.style.display = "none";
      }, 2500);
      
  }
});
$("#go-next-btn").click(function(){
  window.location.href = '/edit/view_images';
      
});
</script>
{% endblock %}
