{% extends 'edit/base_edit.html' %}


{% block content %}
<!-- Project images -->  
<div class="row content">
  <div class="col-sm-12 text-left">
    <h4>Info</h4>
    <br>
    <p>Total images: <span id="total-images-number"></span></p>
  </div>
</div>

<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <a id="start-train-btn" class="btn btn-block btn-success">Start training</a>
  </div>
</div>

<script>
$("#start-train-btn").click(function(){
  var ip = ipAdress.concat("train" + window.location.search)
  var xhttp = sendHttpRequest(ip);

  window.location.href = '/predict' + window.location.search;
})
</script>
{% endblock %}