{% extends 'edit/base_edit.html' %}


{% block head2 %}
<link rel="stylesheet" type=text/css href="../../static/css/image-gallery.css">
{% endblock %}


{% block content %}
<!-- Topic -->  
<div class="row content">
  <div class="col-sm-12 text-left">
    <h4>Total images: 100</h4>
  </div>
</div>

<!-- Project images gallery -->  
<div class="row content">
  <div class="col-sm-12 text-left">

    <div class="imgGallery" id="imgGallery">
      <!--
      <div class="thumbnail" style="width: 150px;">
        <div class="item">
          <img href="#" src="../../static/images/test/test.jpg" alt="" id="img1">
          <div class="caption">
            <span class="right"><a href="#">Delete</a></span><span class="left"><a href="#" id="view-txt">View</a></span>​
          </div>
        </div>
      </div>
      -->
    </div>

  </div>
</div>

<!-- The Modal -->
<div id="modal" class="modal">
  <!-- The Close Button -->
  <span class="close">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="imgModal">
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <a href="/edit/take_photo" class="btn btn-block btn-primary">Take more photos</a>
    <hr>
    <a href="/edit/train_project" class="btn btn-block btn-success">Go to next step</a>
  </div>
</div>

<script>
  $(document).ready(function(){
    // Load images to gallery grid
    loadImageGallery();
    
    // Show modal when click on image
    $("#img1").click(function(){
        $("#imgModal").attr("src", $(this).attr('src'));
        $("#modal").css("display", "block");
    });
    // Show modal when click on View
    $("#view-txt").click(function(){
        $("#imgModal").attr("src", $(this).attr('src'));
        $("#modal").css("display", "block");
    });

    // Hide modal when click on image
    $("#modal").click(function(){
        $("#modal").css("display", "none");
    });
    // Hide modal on X button
    $$(".close:eq(0)").click(function(){
        $("#modal").css("display", "none");
    });
  });

  function loadImageGallery() {
    var ip = ipAdress.concat("get_all_project_images" + window.location.search);
    var xhttp = sendHttpRequest(ip);

    var json_response = JSON.parse(xhttp.responseText);
    var images = json_response.images;

    // List projects in html
    for (var i = 0; i < images.length; i++) {
        document.getElementById("imgGallery").innerHTML += 
        '<div class="thumbnail" style="width: 150px;">' +
        '<div class="item">' +
        '<img href="#" src="' + images[i].image_b64 + '" alt="' + images[i].name + '" id="myImg">' +
        '<div class="caption">' +
        '<span class="right"><a href="#">Delete</a></span><span class="left"><a href="#">View</a></span>​​' +
        '<p style="text-align:left;"><a href="#" onclick="displayImage()">View</a></p>' +
        '</div>' +
        '</div>' +
        '</div>';
    }
  }
</script>
{% endblock %}
