{% extends 'edit/base_edit.html' %}


{% block head2 %}
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/image-gallery.css') }}">
{% endblock %}


{% block content %}
<!-- Topic -->  
<div class="row content">
  <div class="col-sm-12 text-left">
    <h4>Total images: 100</h4>
  </div>
</div>

<!-- Project images gallery -->  
<div class="row content">
  <div class="col-sm-12 text-left">

    <div class="imgGallery" id="imgGallery">
      {% for image in images.images %}
        <div class="thumbnail" style="width: 150px;">
          <div class="item">
            <img href="#" src="{{ image.image_b64 }}" alt="{{ image.name }}" id="img-{{ loop.index }}">
            <div class="caption">
              <span class="right"><a href="#" id="delete-{{ loop.index }}">Delete</a></span>
              <span class="left"><a href="#" id="view-{{ loop.index }}">View</a></span>​
            </div>
          </div>
        </div>
        <script>
          // View modal on image click
          $("#img-{{ loop.index }}").click(function(){
            $("#image-modal-content").attr("src", $(this).attr('src'));
            $("#image-modal").css("display", "block");
          });
          // View modal on view text
          $("#view-{{ loop.index }}").click(function(){
            $("#image-modal-content").attr("src", $("#img-{{ loop.index }}").attr('src'));
            $("#image-modal").css("display", "block");
          });
          // Delete modal on view text
          $("#delete-{{ loop.index }}").click(function(){
            var image_name = $("#img-{{ loop.index }}").attr('alt');
            alert(image_name);
            // TODO: send del-info
          });
        </script>
      {% endfor %}
    </div>

  </div>
</div>

<!-- The Modal -->
<div id="image-modal" class="modal">
  <!-- The Close Button -->
  <span class="close">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="image-modal-content">
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <a id="take-more-photos-btn" class="btn btn-block btn-primary">Take more photos</a>
    <hr>
    <a id="go-next-btn" class="btn btn-block btn-success">Go to next step</a>
  </div>
</div>

<script>
  // Hide modal when click on image
  $("#image-modal").click(function(){
      $("#image-modal").css("display", "none");
  });
  // Hide modal on X button
  $(".close:eq(0)").click(function(){
      $("#image-modal").css("display", "none");
  });

  $("#take-more-photos-btn").click(function(){
  window.location.href = '/edit/take_photo' + window.location.search;
  });
  $("#go-next-btn").click(function(){
  window.location.href = '/edit/train_project' + window.location.search;
  });
</script>
{% endblock %}
