{% extends 'edit/base_edit.html' %}


{% block head2 %}
<link rel="stylesheet" type=text/css href="../../static/css/image-gallery.css">
{% endblock %}

{% block content %}
<!-- Topic -->
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 text-left">
      <h4>Total images: 100</h4>
    </div>
  </div>
</div>

<!-- Project images gallery -->
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 text-left">

      <div class="imgGallery">
        <div class="thumbnail" style="width: 150px;">
          <div class="item">
            <img src="" alt="wedding" id="myImg">
            <div class="caption">
              <p style="text-align:left;"><a href="#" onclick="displayImage()">View</a></p>
            </div>
          </div>
        </div>
        <div class="thumbnail" style="width: 150px;">
          <div class="item">
            <img src="https://picsum.photos/190/190?1" alt="wedding" id="myImg">
            <div class="caption">
              <p style="text-align:left;"><a href="#" onclick="displayImage()">View</a></p>
            </div>
          </div>
        </div>
        <div class="thumbnail" style="width: 150px;">
          <div class="item">
            <img src="https://picsum.photos/190/190?1" alt="wedding" id="myImg">
            <div class="caption">
              <p style="text-align:left;"><a href="#" onclick="displayImage()">View</a></p>
            </div>
          </div>
        </div>
        <div class="thumbnail" style="width: 150px;">
          <div class="item">
            <img src="https://picsum.photos/190/190?1" alt="wedding" id="myImg">
            <div class="caption">
              <p style="text-align:left;"><a href="#" onclick="displayImage()">View</a></p>
            </div>
          </div>
        </div>
        <div class="thumbnail" style="width: 150px;">
          <div class="item">
            <img src="https://picsum.photos/190/190?1" alt="wedding" id="myImg">
            <div class="caption">
              <p style="text-align:left;"><a href="#" onclick="displayImage()">View</a></p>
            </div>
          </div>
        </div>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>

      </div>
      
    </div>
  </div>
</div>

<!-- Buttons -->
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-12">
      <a href="/edit/take_photo" class="btn btn-block btn-primary">Take more photos</a>
      <hr>
      <a href="/edit/train_project" class="btn btn-block btn-success">Go to next step</a>
    </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  function displayImage() {
    console.log(11);
    modal.style.display = "block";
    modalImg.src = img.src;
  }
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
</script>

<script>
function sendHttpRequest(ipAdress) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", ipAdress, false);
    try {
        xhttp.send();
    } catch (error) {
        console.log(error)
        return false;
    }
    return xhttp;
}

var ip = ipAdress.concat("return_saved_photo");
var xhttp = sendHttpRequest(ip);
console.log(1);

photo = xhttp.responseText;

document.getElementById('myImg').src = photo;

</script>
{% endblock %}

