<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}">

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  {% block head %}
  {% endblock %}
</head>

<body>
<!-- Script -->
<script>
  const ipAdress = "http://10.10.1.197:5000/"

  function sendHttpRequest(ipAdress) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", ipAdress, false);
    try {
        xhttp.send();
    } catch (error) {
        console.log(error)
    }
    return xhttp;
  }
</script>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="color: white;">
      <h3 style="margin-top: 12px;">{{ project_name }}</h3>
    </div>
    {% block navbar %}
    <div class="" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li {% if request.path.startswith('/select_project') %}class="active"{% endif %} ><a href="/select_project">Select project</a></li>
      </ul>
    </div>
    {% endblock %}
  </div>
</nav>

{% block train_menu %}
{% endblock %}

<!-- Page content -->
<div class="container-fluid text-left">
{% block content %}
{% endblock %}
</div>
</body>
</html>
