<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}">

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  {% block head %}
  {% endblock %}
</head>

<body>
<!-- Script -->
<script>
  const ipAdress = "{{ ip_address }}"

  function sendHttpRequest(ipAdress) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", ipAdress, false);
    try {
        xhttp.send();
    } catch (error) {
        console.log(error)
    }
    return xhttp;
  }
</script>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="color: white;">
      <h3 style="margin-top: 12px;">{{ project_name }}</h3>
    </div>
    {% block navbar %}
    <div class="" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help-guide" style="margin-top: 8px; margin-right: 8px;">Info</button></li>
        <li {% if request.path.startswith('/select_project') %}class="active"{% endif %} ><a href="{{ url_for('select_projectv') }}">Change project</a></li>
      </ul>
    </div>
    {% endblock %}
  </div>
</nav>

<!-- Help guide collapse -->
<div id="help-guide" class="collapse">
  <div class="container-fluid text-left">
    <div class="row content">
      <div class="col-sm-12">
        {% block help_guide %}
        {% endblock %}
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- Page menu overview for edit pages -->
{% block train_menu %}
{% endblock %}

<!-- Page content -->
<div class="container-fluid text-left">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
