<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type=text/css href="/static/css/main.css">

  <script type="text/javascript" src="/static/js/ip.js"></script>
  <script type="text/javascript" src="/static/js/utils.js"></script>
  {% block head %}
  {% endblock %}
</head>

<body>
<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">{{ project_id }}</a>
    </div>
    <div class="" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li {% if request.path.startswith('/select_project') %}class="active"{% endif %} ><a href="/select_project">Select project</a></li>
      </ul>
    </div>
  </div>
</nav>


{% block train_menu %}
{% endblock %}

<!-- Page content -->
{% block content %}
{% endblock %}

</body>
</html>
