{% extends 'layouts/base.html' %}


{% block content %}
<div class="row content">
  <div class="col-sm-12 text-left">
    <!-- Create project form -->
    <form action="{{ url_for('views_blueprint.select_project_view') }}" method="post" enctype="multipart/form-data" novalidate>
      {{ form.hidden_tag() }}
      <label for="project-name">Create new project</label>
      <div class="input-group">
        
        {% if form.project_name.errors %}
          {{ form.project_name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.project_name.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
            {{ form.project_name(class="form-control", placeholder="Project name") }}
        {% endif %}
        <div class="input-group-btn">
          {{ form.submit(class="btn btn-block btn-default") }}
        </div>
      </div>
    </form>

    <div class="gap-20"></div>

    <!-- List projects -->
    <ul class="list-group" id="project-list">
      <label for="projects">Projects list</label>
      {% for p in projects.projects %}
      <li class="list-group-item"><a id="{{ p.name }}">{{ p.name }}</a><br></li>
          <script>
          $("#{{ p.name }}").click(function(){
            var path = "set_project_route" + "?project_name=" + "{{ p.name }}";
            var ip = ipAdress.concat(path);
            var xhttp = sendHttpRequest(ip);
            window.location.href = "/predict"
          });
        </script>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
