{% extends 'base.html' %}


{% block head %}
<script type="text/javascript" src="../static/js/select-project.js"></script>
{% endblock %}

{% block content %}
<!-- Projects list -->
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 text-left">
      <!-- List projects -->
      <ul class="list-group" id="project-list">
      </ul>

      <div class="gap-20"></div>

      <!-- Create project form -->
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Project name" id="project-name">
          <div class="input-group-btn">
            <a onclick="createProject()" class="btn btn-block btn-default">Create new project</a>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>

<script>
var ip = ipAdress.concat("get_projects")
var xhttp = sendHttpRequest(ip)

var json_response = JSON.parse(xhttp.responseText);
var projects = json_response.projects;

// List projects in html
for (var i = 0; i < projects.length; i++) {
	document.getElementById("project-list").innerHTML += '<li class="list-group-item"><a href="/predict?project_name='+ projects[i].name+'">' + projects[i].name + '</a><br></li>';
}
</script>
{% endblock %}
