{% extends 'layouts/base_train.html' %}


{% block content %}
<!-- Project images -->  
<div class="row content">
  <div class="col-sm-12 text-left">
    <br>
  </div>
</div>

<!-- Buttons -->
<div class="row content">
  <div class="col-sm-12">
    <a id="start-train-btn" class="btn btn-block btn-success">Start training</a>
  </div>
</div>

<script>
$("#start-train-btn").click(function(){
  var ip = ipAdress.concat("train?project_name=" + "{{ project_name }}")
  var xhttp = sendHttpRequest(ip);

  window.location.href = '/predict';
})
</script>
{% endblock %}
