<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}">

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  {% block head %}
  {% endblock %}
</head>

<body>
<!-- Script -->
<script>
  const ipAdress = "{{ ip_address }}"

  function sendHttpRequest(ipAdress) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", ipAdress, false);
    try {
        xhttp.send();
    } catch (error) {
        console.log(error)
    }
    return xhttp;
  }
</script>

<!-- Top Navigation Bar -->
{% include 'includes/navigation.html' %}

<!-- Help guide -->

<!-- Help guide collapse -->
<div id="help-guide" class="collapse">
    <div class="container-fluid text-left">
      <div class="row content">
        <div class="col-sm-12">
          {% block guide %}
          {% endblock %}
          <hr>
        </div>
      </div>
    </div>
  </div>


<!-- Page content -->
<div class="container-fluid text-left bottom">
  {% block content %}
  {% endblock %}
</div>

<!-- Specific Page JS  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
